/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/features/fixtures/simple_app/log/
/vendor/bundle/
features/tmp/

crystalball_data.yml
tables_map.yml

# rspec failure tracking
.rspec_status

.DS_Store
/.idea
/.vscode
